In [7]:
import pandas
base = pandas.read_csv('Prime Tv Shows.csv')
print(base)

     S.no.                            Name of the show  Year of release  \
0        1                                  Pataal Lok             2020
1        2                                      Upload             2020
2        3                   The Marvelous Mrs. Maisel             2017
3        4                      Four More Shots Please             2019
4        5                                     Fleabag             2016
..     ...                                         ...              ...
388    389                        Chris Tall Presents…             2019
389    390                               Short Poppies             2014
390    391  The 2018 Rose Parade Hosted by Cord & Tish             2018
391    392                 Aliens Love Underpants And…             2017
392    393             Gina Brillon: The Floor is Lava             2020

     No of seasons available Language          Genre  IMDb rating  \
0                          1    Hindi          Drama          7.5
1                          1  English  Sci-fi comedy          8.1
2                          3  English  Drama, Comedy          8.7
3                          2    Hindi  Drama, Comedy          5.3
4                          2  English         Comedy          8.7
..                       ...      ...            ...          ...
388                        1  Deutsch         Comedy          NaN
389                        1  English         Comedy          NaN
390                        1  English         Comedy          NaN
391                        1  English           Kids          NaN
392                        1  English         Comedy          NaN

    Age of viewers
0              18+
1              16+
2              16+
3              18+
4              18+
..             ...
388            16+
389            13+
390            All
391            All
392            16+

[393 rows x 8 columns]

In [10]:
i=0
for columns in base:
    print (base.columns[i])
    i=i+1

S.no.
Name of the show
Year of release
No of seasons available
Language
Genre
IMDb rating
Age of viewers

In [22]:
base['Year of release'].describe()

count     393.000000
mean     2011.274809
std        12.943787
min      1926.000000
25%      2011.000000
50%      2016.000000
75%      2018.000000
max      2020.000000
Name: Year of release, dtype: float64

In [23]:
base['No of seasons available'].describe()

count    393.000000
mean       2.608142
std        2.592008
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max       20.000000
Name: No of seasons available, dtype: float64

In [24]:
base['IMDb rating'].describe()

count    223.000000
mean       7.390583
std        0.917130
min        3.700000
25%        6.900000
50%        7.500000
75%        8.000000
max        9.500000
Name: IMDb rating, dtype: float64

In [27]:
base.describe()

            S.no.  Year of release  No of seasons available  IMDb rating
count  393.000000       393.000000               393.000000   223.000000
mean   197.000000      2011.274809                 2.608142     7.390583
std    113.593574        12.943787                 2.592008     0.917130
min      1.000000      1926.000000                 1.000000     3.700000
25%     99.000000      2011.000000                 1.000000     6.900000
50%    197.000000      2016.000000                 2.000000     7.500000
75%    295.000000      2018.000000                 3.000000     8.000000
max    393.000000      2020.000000                20.000000     9.500000